<h2>New Task</h2>
<p>Fill the form and submit it to add a new task.</p>
<form>
  <div class="form-group">
    <label for="name">Name of the task:</label>
    <input type="text" class="form-control" 
    [(ngModel)]="newTask.name" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" 
    [(ngModel)]="newTask.description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" class="form-control" 
    [(ngModel)]="newTask.author" name= "author" id="author">
  </div>
  <button type="submit" class="btn btn-default" (click)="addTask(newTask)">Add Task</button>
</form>
