<h2>New Task</h2>
<p>Fill the form and submit it to add a new task.</p>
<form>
  <div class="form-group">
    <label for="name">Name of the task:</label>
    <input type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description"></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <input type="text" class="form-control" id="author">
  </div>
  <button type="submit" class="btn btn-default">Add Task</button>
</form>
